
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


body {
  background-image: url(../../public/bg.webp);
  background-repeat: no-repeat, repeat;
  background-size: cover;
  font-family: "League Spartan";
}

@font-face {
  font-family: "Spartan";
  src: url("../../public/Spartan-Regular.ttf");
}